<h1>Book</h1>

<%= paginate @books %>
<ul>
  <% @books.each do |book| %>
    <li>
        <% if book.image.attached? %>
        <%# byebug %>
          <image src="<%=(url_for(book.image))%>" style="height:20vw;width:15vw;">
        <% end %><br>
        <%= link_to book.name, admin_book_path( id: book.id) %>
    </li>
  <% end %>
</ul>