<h1>Issues#index</h1>
<p>Find me in app/views/issues/index.html.erb</p>
<ul>
  <% @books.each do |book| %>
    <li> 
      <%= link_to book.name, admin_book_path( id: book.id) %></br>
      <%#= button_to "Issue book", issues_path, params:{book_id: book.id, user_plan_id: current_user.user_plans.last.id},method: :post %>
      <%= link_to 'Issue Book',issues_path(book_id: book.id, user_id:           current_user.id), method: :post %>
    </li>
  <% end %>
</ul>

