
<h2>search result </h2>
<% if @user.exists? %>
	<% @user.each do |user| %>
	<%# byebug %>
		<p> Email </p>
		<%=  user.email %>

		<p> Plan</p>
		<%=  user.plan.plan_name %>
	<% end %>
<% else %>
	<p> Sorry :) no user exists </p>
<% end %>	

